<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>login</servlet-name>
        <servlet-class>
            student.login
        </servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/login</url-pattern>

    </servlet-mapping>
    <servlet>
        <servlet-name>signupuser</servlet-name>
        <servlet-class>student.signupuser</servlet-class>
    </servlet>
  <servlet-mapping>
      <servlet-name>signupuser</servlet-name>
      <url-pattern>/signupuser/*</url-pattern>
  </servlet-mapping>
    <servlet>
        <servlet-name>logout</servlet-name>
        <servlet-class>student.logout</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>logout</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet>
        <display-name>home</display-name>
        <servlet-name>welcome</servlet-name>
        <servlet-class>student.welcome</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>welcome</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>45</session-timeout>
    </session-config>
    <servlet>
        <servlet-name>updateUser</servlet-name>
        <servlet-class>student.updateUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>updateUser</servlet-name>
        <url-pattern>/updateUser</url-pattern>
    </servlet-mapping>




</web-app>
