.marks_sheet{
    margin-top: -50%;
    color: orange;
}
.marks_sheet p{
    margin-left: 30px;
    color: orange;
}
.marks_sheet h1{
    margin-left: 40%;
}
.marks_sheet h3{
    margin-left: 30px;
}
.marks_sheet table{
    color: white;
    font-size: 20px;
    margin-left: 30%;
    column-rule-color: orange;
    border: 1px solid orange;
    width: auto;
    height: auto;
    padding: 10px;
    border-collapse: collapse;
    border-radius: 10px;

}
.marks_sheet table td{
    border: 1px solid orange;
    border-collapse: collapse;
    padding: 20px;


}